<a href="https://colab.research.google.com/github/uswr1/My_First_Test_Repo/blob/main/avtomat2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание на автомат 2, вариант №5

In [14]:
from google.colab import drive
import random
import sqlite3
drive.mount('./sample_data/drive')
path='./sample_data/drive/MyDrive/avtomat/avtomat.db'

print('''Выберете действие
        1) Ввод списков, сохранение и вывод из MySQL.
        2) Вывод на экран всех нечетный чисел из заданного списка при этом программа прерывается
           когда в списке встречается число 71278  (сохранение в MySQL)
        3) Удаление из списка всех чисел 500 и сохранение в MySQL
        4) Генерация уникального списка из 50 элементов и сохранение в MySQL''')

s=input()
if s=='1':
  kgb=[int(x) for x in input("Введите числа через запятую: ").split(', ')]
  conn = sqlite3.connect('avtomat.db')
  cursor = conn.cursor()
  cursor.execute("CREATE TABLE vvod (number INT)")
  vvod = kgb
  for num in kgb:
    sql = "INSERT INTO vvod (number) VALUES (?)"
    val = (num,)
    cursor.execute(sql, val)
    conn.commit()
  cursor.execute("SELECT * FROM vvod")
  result = cursor.fetchall()
  print(" numbers from SQLite table:")
  for row in result:
    print(row[0])





if s=='2':

  def print_odd_numbers(lst):
    odd_numbers = []
    for num in lst:
        if num % 2 != 0:
            odd_numbers.append(num)
        if num == 71278:
            break
    return odd_numbers
  lsd = [int(x) for x in input("Введите числа через запятую: ").split(', ')]

  #lst = [1000, 1769, 1000000, 9000202, 1199112223, 15, 99999999, 1009900990011122, 90000, 86626, 83377, 27613, 40660, 60611, 95358, 19470, 57393, 84713, 91806, 4386, 47063, 46748, 71278, 93766, 25644, 99722, 48007, 55129, 97414]

  conn = sqlite3.connect('avtomat.db')
  cursor = conn.cursor()
  cursor.execute("CREATE TABLE odd_numbers (number INT)")
  odd_numbers = print_odd_numbers(lst)
  for num in odd_numbers:
    sql = "INSERT INTO odd_numbers (number) VALUES (?)"
    val = (num,)
    cursor.execute(sql, val)
    conn.commit()
  cursor.execute("SELECT * FROM odd_numbers")
  result = cursor.fetchall()
  print("Odd numbers from SQLite table:")
  for row in result:
    print(row[0])

  


if s=='3':
  def remove_500(lzd):
    while True:
        try:
            lzd.remove(500)
        except ValueError:
            break

  lzd = [int(x) for x in input("Введите числа через запятую: ").split(', ')]
  #lzt = [500, 5000, 1000, 500, 100, 500, 10000, 5000, 500, 50, 10, 500]
  remove_500(lzd)
  conn = sqlite3.connect('avtomat.db')
  cursor = conn.cursor()
  cursor.execute("CREATE TABLE list_without_500s (number INT)")

  for num in lzd:
    sql = "INSERT INTO list_without_500s (number) VALUES (?)"
    val = (num,)
    cursor.execute(sql, val)
    conn.commit()

  cursor.execute("SELECT * FROM list_without_500s")
  result = cursor.fetchall()
  print("Numbers from MySQL table:")
  for row in result:
    print(row[0])


if s=='4':
  def generate_unique_list():
    unique_rzd = []
    while len(unique_rzd) < 50:
        num = random.randint(1,100)
        if num not in unique_rzd:
            unique_rzd.append(num)
    return unique_rzd

  unique_rzd = generate_unique_list()

  conn = sqlite3.connect('avtomat.db')
  cursor = conn.cursor()
  cursor.execute("CREATE TABLE unique_list (number INT)")

  for num in unique_rzd:
    sql = "INSERT INTO unique_list (number) VALUES (?)"
    val = (num,)
    cursor.execute(sql, val)
    conn.commit()

  cursor.execute("SELECT * FROM unique_list")
  result = cursor.fetchall()
  print("Numbers from MySQL table:")
  for row in result:
    print(row[0])

Drive already mounted at ./sample_data/drive; to attempt to forcibly remount, call drive.mount("./sample_data/drive", force_remount=True).
Выберете действие
        1) Ввод списков, сохранение и вывод из MySQL.
        2) Вывод на экран всех нечетный чисел из заданного списка при этом программа прерывается
           когда в списке встречается число 71278  (сохранение в MySQL)
        3) Удаление из списка всех чисел 500 и сохранение в MySQL
        4) Генерация уникального списка из 50 элементов и сохранение в MySQL
1
Введите список
Введите числа через запятую: 2, 3, 4, 5, 6, 7, 8, 9
 numbers from SQLite table:
2
3
4
5
6
7
8
9